<html lang="es" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/main/resources/static/css/Prueba.css" />
    
  </head>
  <body>
    <div class="container">
      <form  method="post" th:action="@{/ingresarUsuario}" th:object="${usuario}">
        <h1>Ingresar</h1>
        <!-- Mensaje de error -->
        <div class="alert alert-danger" th:if="${error}" role="alert">
          <span th:text="${error}">Error: Mensaje de error aquí.</span>
      </div>

        <div class="input-box"> 
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" maxlength="80" class="form-control" required>
        </div>
        <div class="input-box">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" maxlength="80" class="form-control" required>
        </div>
        <div class="input-box">
            <label for="tipoUsuario" class="form-label">Tipo de Usuario</label> <select th:field="*{tipoUsuario}" class="form-select" required> <option value="" disabled selected>Seleccione un tipo de usuario</option><option th:each="cat:${tipoUsuario}" th:value="${cat.id}" th:text="${cat.descripcion}"></option> </select>
        </div>

        <div class="remember-forgot">
          <a href="/usuarioRecuperarContrasena">Olvidé la contraseña</a>
        </div>

        <button type="submit" value="Guardar" class="btn">Iniciar</button>

        <div class="register-link">
          <p>No tienes cuenta <a href="/usuarioInsertar">Crea un nuevo usuario aqui</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
            